---
layout: index
title: identex
tagline: Protect and grow your local business
css:
js: bg-color.js
keywords: ['identex', 'knowledge', 'FAQ', 'articles', 'news']
canonical:
img:
image: assets/images/identex/INDENTEX-JUST-LOGO-black.png
custom-head: <meta name="theme-color" content="#0067F4" /> <!-- Load custom html code on the head of the site -->
---



<!-- Shards --><img src="assets/images/identex/INDENTEX-JUST-LOGO-black.png" alt="logo" class="shard">
<!-- Welcome Section -->
<div class="welcome d-flex justify-content-center flex-column">
    <div class="inner-wrapper mt-auto mb-auto">
        <h1 class="hidden-sm-down slide-in">{{page.title}}</h1>
        <h1 style="font-size: 3.25rem!important;" class="hidden-md-up slide-in">{{page.title}}</h1>  
            <br />
        <p class="slide-in">{{page.tagline}}</p>
        <div class="action-links slide-in"><a href="#" data-scroll-to="#cards" id="scroll-to-content" class="btn btn-outline-light btn-pill align-self-center">Read Our Articles</a></div>
    </div>
</div>


<!-- Page Content -->
<div class="page-content">
    <!-- Content -->
    <div class="content clearfix">
        <!-- Cards -->
      <div id="cards" class="container mb-2" style="padding-bottom: 1px">
        <div class="example col-md-12 ml-auto mr-auto">
            <div class="row">
                <h2>Articles</h2>
            </div>
            <div class="row">
              {% for post in site.posts %}
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div style="margin-top:2em" class="card">{% if post.img %}<img class="card-img-top ll-image" data-img-src="{{ site.url }}{{ site.baseurl }}/assets/images/{{ post.img }}" alt="{{ post.title }} image missing">{% endif %}
                        <div class="card-body">
                            <h4 class="card-title">{{ post.title }}</h4>
                            <p class="card-text">{{ post.excerpt }}</p><a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}" class="btn btn-primary">Read More</a></div>
                    </div>
                </div>
              {% endfor %}
            </div>
        </div>
      </div>
    </div>
</div>
