<div class="content clearfix">
        <!-- Footer CTA -->
        <div class="footer-cta bg-dark">
                <div class="container my-5">
                    <div class="py-5">
                        <div class="text-center">
                            <h1><i class="icon-identex-logo" style="color: white;"></i></h1>
                            <h2 class="text-white">Want to learn more about identex?</h2>
                            <p class="text-muted col-lg-8 col-md-10 ml-auto mr-auto lead">identex is a powerful tool for businesses that sell age restricted products. Protect your business from Fake IDs while also growing your business with our powerful analytics tools.</p>
                            <p class="text-muted col-lg-8 col-md-10 ml-auto mr-auto lead">Take control of your growth and protect yourself with identex!</p>
                        </div>
                        <br /><br /><br /><br />
                    </div>
                </div>    
                <div style="margin-top:-2em" class="wave-container hidden-lg-down">						
                        <div class="wave wave--white"></div>     
                        <div class="wave wave--grey"></div>                                                                   
                </div>	                 
            </div>
    
</div>

<footer class="main-footer py-5" style="background-color: #fafafa!important">    
    <p class="text-muted text-center p-0 mb-4 lead">&copy; Copyright {{ 'now' | date: "%Y" }} — <a href="https://identex.co" target="_blank"> identex</a></p>
    <div class="social d-table ml-auto mr-auto">
        <a class="twitter mx-3 h4" href="https://twitter.com/{{ site.author.twitter }}" target="_blank"><i class="fa fa-twitter bounce-element"></i> <span class="sr-only">View our Twitter Profile</span> </a>
        <a class="twitter mx-3 h4" href="https://angel.co/company/{{ site.author.angellist }}" target="_blank"><i class="fa fa-angellist bounce-element"></i> <span class="sr-only">Connect with us on Angel List</span> </a>
        <a class="github mx-3 h4" href="https://github.com/{{ site.author.github }}" target="_blank"><i class="fa fa-github bounce-element"></i> <span class="sr-only">View our GitHub Profile</span></a>
        <a class="facebook mx-3 h4" href="https://www.instagram.com/{{ site.author.instagram }}" target="_blank"><i class="fa fa-instagram bounce-element"></i> <span class="sr-only">View our Instagram Profile <span></span></span></a><!-- Place this tag where you want the button to render. -->        
    </div>
</footer>
